
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
color: white;
border: none;
border-radius: 8px;
background-color: rgba(255, 144, 14, 1);
font-size: 1.2rem;
font-weight: 600;
padding: 20px 25px;
margin-top: 20px;
}
.nav-bar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.font-bold-size{
    font-size: 2.8rem;
    font-weight: 700;
}

/* direct tag styles  */

header{
    /* margin-bottom:85px; */
    /* at first  it worked but now it does't*/
    /* now it is works on bg-color */
    max-width: 1922px;
     margin: 0 auto;
}
section{
    margin-top: 130px;
}
main{
    max-width:1440px;
    margin: 0 auto;
}
img{
    /* width: 100%; */
}
/* dark 2 */
.dark-gray{
    color: rgba(66, 66, 66, 1);
}
/* dark 3 */
.light-gray{
    color: rgba(114, 114, 114, 1);
}
/* bg-color */
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
    /* height: 1300px; */
    /* i want fixed the height with max-hight but does not working .this height need for expended some height at the bottom*/
    /* margin-bottom: 85px; */
    /* why is it not working at header tag*/
}

/* navbar styles */
.nav-title{
font-size: 2.8rem;
font-weight: bold;
}

.nav-bar{
justify-content: space-between;
align-items: center;
}
.nav-ul{
gap: 30px;
}
.nav-li{
    list-style: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.nav-link{
    text-decoration: none;
}
/* banner styles */

.banner-info{
    max-width: 862px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    /* my title is not excetly same as the figma file.some word need to go second line*/
}
.banner-img{
    width: 100%;
}
/* quick list feature styles */
.feature{
    align-items: center;
}
.feature-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /* padding-left: 30px; */
}
.feature-info{
margin-left: 73px;
max-width: 530px;
}
.feature-title{
    width: 468px;
}
.quick-list{  
    font-weight: 500;
    font-size: 2.8rem;
}
.word-feature{
color: rgba(255, 144, 14, 1);
}
/* love and enjoy feature styles */
.lovely-feature-heading{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 21px;
}
.feature-enjoy-and-love{
    gap: 146px; 
}
.lovely-feature-card{
    padding: 30px;
    /* box-shadow:0 4px 30px 0 rgba(0, 0, 0, 0.06); */

    /* eikhan e figma te 2 box-shadow er measurement ase.
    first e niche jeita disi ,seta ase and aro 2 ta click korle uporer ta ase.
    jhankar vai uporer ta dise jeita shadow kom hoi.*/
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}
/* some facts style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:100px 50px;
}
.fact-pera{
    max-width: 540px;
    margin-top: 0;
    margin-bottom: 0;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    height: 240px;
    width: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.fact-number{
    font-size: 2.8rem;
font-weight: 600;
margin-top: 5px;
margin-bottom: 10px;
}

.fact-name , .lovely-feature-card-title{
    font-size: 1.25rem;
font-weight: 600;
margin-top: 0px;
margin: 0px;
}

/* sponsor styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-img-div{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-img-div img{
    filter: grayscale(100%);
}
/* footer style */


/* media query for small device */

@media screen and (max-width: 576px) {
    .nav-bar, .nav-ul,.feature{
        flex-direction: column;
    }
    /* display-flex class dile o cholbe .jeheto eta class hisabe sob golo te ase so eta dile r kono class dite hbe bole mon e hoi na. */
    
    /* .banner-title,.feature-info,.feature-title,.display-flex{
        width: 100%;
    } */

    .feature-info{
        margin-left: 70px;
    }
    .feature-images, .fact-container, .sponsor-img-div{
        grid-template-columns: 1fr;
    }
    .fact-container{
justify-items: center;
gap: 24px;
    }
    .sponsor-img-div{
        justify-items: center;
        gap: 50px;
    }
    .feature-enjoy-and-love{
        flex-direction: column;
    }
}

/* media query for medium device */
@media screen and (min-width: 576px) and (max-width:992px){
.feature{
    flex-direction: column;
}
.feature-info{
    margin: 50px auto;
}
.sponsor-img-div, .fact-container{
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-items:center;
}
}
